<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Read Below and Choose The Required Link</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Employee Related Operation</h4>
                                    <p class="card-text">Here You can Add new Employe ,get Employee Detail and update and delete Employee Details</p>
                                    <a href="http://127.0.0.1:4040/empOp">Employee Operation</a>
                                </div>
                            </div>
                        </div>
            </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Shift Related Operation</h4>
                                    <p class="card-text">Here You can Get Information about shift by adding filter like by date ,by date and card Number ,by shift and date etc</p>
                                    <a href="http://127.0.0.1:4040/shiftOp">Shift Operation</a>
                                </div>
                            </div>
                        </div>
            </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Add Shifts To Employees for a month</h4>
                                    <p class="card-text">Here you can assign shift type  to the employee by choosing month.First You have to choose month then Proceed with available Option</p>
                                    <a href="http://127.0.0.1:4040/shift">Add Shift To Operation</a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>
<!-- Team -->
